@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animationContainer {
  z-index: 9;
  animation: slide 30s linear infinite;
}

.slideItem {
  flex: 0 0 auto;
  margin-right: 1rem;
}